* {
    font-family: 'Montserrat', sans-serif;
}

.pointer {
    cursor: pointer;
}

.bg-none {
    background-color: #181a1b;
    border: none;
}

.bg-none:focus {
    background-color: #181a1b;
    border: none;
}

.bg-darkmaroon {
    background: #000;
}

.bg-orange {
    background-color: #ea8025;
}

.border-orange {
    border: 1px solid #ea8025;
}

.border-t-orange {
    border-top: 1px solid #ea8025;
}

.border-b-orange {
    border-bottom: 1px solid #ea8025;
}

.font-lg {
    font-size: 60px;
}

.text-black {
    color: black;
}

.text-orange {
    color: #ea8025;
}

.text-orange:hover {
    color: orangered;
}

.btn-orange {
    background-color: #ea8025;
    color: black;
    border: 1px solid #ea8025;
    outline: none;
}

.btn-orange:hover {
    background-color: orangered;
    border: 1px solid orangered;
    color: black;
    outline: none;
}

.btn-orange:focus {
    background-color: orangered;
    border: 1px solid orangered;
    color: black;
    outline: none;
}

.btn-outline-orange {
    background-color: none;
    border: 1px solid #ea8025;
    color: #ea8025;
    outline: none;
}

.btn-outline-orange:hover {
    background: orangered;
    border: 1px solid orangered;
    color: black;
    outline: none;
}

.Product {
    &_row {
        &_col-12 {
            &_img {
                &_pic {
                    max-width: 100%;
                    height: 350px;
                    transition: all .5s;
                }

                &_pic:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.Recommended {
    &_row {
        &_col-4 {
            &_img {
                max-width: 100%;
                height: 350px;
                transition: all .5s;
            }

            &_btn {
                opacity: 0;
                transform: translateY();
                transition: all .6s ease;
            }
        }
    }
}

.col-4:hover .img {
    transform: scale(1.1);
}

.col-4:hover .btn {
    opacity: 1;
    transform: translateY(-20px);
}